# Brevo .env.example
BREVO_API_KEY=your_brevo_api_key_here
BREVO_LIST_ID=your_brevo_list_id_here

# Giscus .env.example

repo="USERNAME/REPOSITORY"
repoId="REPOSITORY_ID"
category="Announcements"
categoryId="CATEGORY_ID"